.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


.img-fluid{
width: 40px%;
height:40px;
}

.carousel{
  top: 63px;
position: relative;
}
.space-card{
  top: 20px;
}

  .navbar{
  opacity:0.95;
  }

  .navbar .navbar-brand{
  color:#fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight:bold;
  letter-spacing: 2px;
	}

	.navbar .navbar-brand:hover{

    opacity:0.7;
    }
	.navbar-collapse .navbar-nav .nav-item .nav-link{

	color:#fff;

	}
	.login{

	font-size:11pt;
	}
	.cad{

	font-size:11pt;
	}
 body{
background: white;s

 }
	.dropdown-menu{
	left:1110px;


	}

	 .dropdown-menu h5{
	 font-size:11px;
	 }
	  .dropdown-menu h6{
	 font-size:15px;
	 }
	 .dropdown-menu a{
	 font-size:11px;
	 }



	 .dropdown-menu button{
	  width: 100%;
    margin: 0 auto;
	border-radius:20px;

	 }

	 .navbar-collapse .navbar-nav .nav-item .nav-link:hover{
background:rgba(185,37,52,0.6);
border-radius:5px;

	 }
	 .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

	.container-footer{
	height:9,5%;
	width:100%;
	position:absolute;
	background:#DA3646;
	}
	  .container-footer p{
	  color:white;
	  }

	  .container-footer a{
	  color:white;


	  }
	  .container-footer .social:hover{
	 opacity:0.5;


	  }
	  .float-right {
	  right:10px;
	  position:relative;
	  }
	  .container-footer h5{

	  text-align:center;
	  color: white;
	  font-weight:none;
	  font-size:10pt;
	  }

	  .list-inline-item:hover {
	  background:rgba(185,37,52,0.6);

border-radius:20px;
	  }

	  .foot{

	  background:rgba(185,37,52,1.0);
	  width:100%;
	  position:absolute;

	  }

	  .foot p{

	  text-align:center;

	  margin-bottom: 0px;
	  font-size:13px;

	  }



	  .col-lg-4 .txtchato {
	  font-size: 21pt;
	  }

	  .navbar .dropdown-menu {
		border-radius: 1px;
		border-color: #e5e5e5;
		box-shadow: 0 2px 8px rgba(0,0,0,.05);
	}
	.navbar .nav .dropdown-menu li {
		color: #999;
		font-weight: normal;
	}
	.navbar .nav .dropdown-menu li a, .navbar .nav .dropdown-menu li a:hover, .navbar .nav .dropdown-menu li a:focus {
		padding: 8px 20px;
		line-height: normal;
	}
	.navbar .navbar-form {
		border: none;
	}
	.navbar .dropdown-menu.form-wrapper {
		width: 280px;
		padding: 20px;
		left: auto;
		right: 2px;
        font-size: 14px;
	}
	.navbar .dropdown-menu.form-wrapper a {
		color: black;
		padding: 0 !important;
	}
	.navbar .dropdown-menu.form-wrapper a:hover{
		text-decoration: underline;
	}
	.navbar .form-wrapper .hint-text {
		text-align: center;
		margin-bottom: 15px;
		font-size: 13px;
	}
	.navbar .form-wrapper .social-btn .btn, .navbar .form-wrapper .social-btn .btn:hover {
		color: #fff;
        margin: 0;
		padding: 0 !important;
		font-size: 13px;
		border: none;
		transition: all 0.4s;
		text-align: center;
		line-height: 34px;
		width: 47%;
		text-decoration: none;
    }
	.navbar .social-btn .btn-primary {
		background: #507cc0;
	}
	.navbar .social-btn .btn-primary:hover {
		background: #4676bd;
	}
	.navbar .social-btn .btn-info {
		background: #64ccf1;
	}
	.navbar .social-btn .btn-info:hover {
		background: #4ec7ef;
	}
	.navbar .social-btn .btn i {
		margin-right: 5px;
		font-size: 16px;
		position: relative;
		top: 2px;
	}
	.navbar .form-wrapper .form-footer {
		text-align: center;
		padding-top: 10px;
		font-size:18pt;
	}
	.navbar .form-wrapper .form-footer a:hover{
		text-decoration: underline;

	}
	.navbar .form-wrapper .checkbox-inline input {
		margin-top: 3px;
	}
	.or-seperator {
        margin-top: 32px;
		text-align: center;
		border-top: 1px solid #e0e0e0;
    }
    .or-seperator b {
		color: #666;
        padding: 0 7px;
		width: 30px;
		height: 30px;
		font-size: 13px;
		text-align: center;
		line-height: 26px;
		background: #fff;
		display: inline-block;
		border: 1px solid #e0e0e0;
		border-radius: 50%;
		position: relative;
		top: -15px;
		z-index: 1;
    }
    .navbar .checkbox-inline {
		font-size: 13px;
	}
	.navbar .navbar-right .dropdown-toggle::after {
		display: none;
	}
	@media (min-width: 1200px){
		.form-inline .input-group {
			width: 300px;
			margin-left: 30px;
		}
	}
	@media (max-width: 768px){
		.navbar .dropdown-menu.form-wrapper {
			width: 100%;
			padding: 10px 15px;

			border: none;
		}
		.navbar .form-inline {
			display: block;
		}
		.navbar .input-group {
			width: 100%;
		}
		.navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
			display: block;
		}
	}
