
.card-pagamento , .modal-pagamento{
	padding: 0;
}
.table-bordered td, .table-bordered th{
	border:none;
}

.icon-full .form-control{
	display: inline;
	width: 12%;
	
	

}
.icon-full{
	top: 30%;

}

body{
	background:#eeeeee;

}


.card{
margin: 2%
}
.card p{
	font-size: 22px;
}

img{
	float:left;
}

.bg-danger {

   background-color:#f2f2f2;

}
footer p {
	padding-top:3%;
color: white;
text-align: center;
}
header{

		height: 0%;


}
footer{	background: rgb(121, 116, 116);
height: 20%
}

.list-group-item.active{

	border-color:transparent;
	box-shadow: rgb(26, 26, 26) 0px 0px 20px;
	color:black;
}

.del{
  width: 20%;
  text-align:center;
position:relative;
left: 17%;

}

.botao {
    padding-left: 37%;
    position: relative;
    top: -15px;
}



.alert{
  margin: auto;

}
.modal-footer button{
      margin: auto;
}

.fa-trash-alt{
color:white;

}


.table td , .table th{

	padding:0.40rem;
}

h5 {
font-size:1.5rem;

}

.valor1{
position:relative;
left: 4%;
	
}

.valor2{
position:relative;
left:7%;
	
}
.valortotal{

text-align:left;		
font-size:1.2rem;
color: green;
	
}

.descricao{
text-align:left;
}
.remover{
position:relative;
top:-3px;	
	
}

